<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-3.5.1.js"></script>
</head>
<body>
<select id="file">
    <option value="">-- select ---</option>
    {% for file in program %}
    <option value="{{file}}">{{file}}</option>
    {% endfor %}
</select>
<audio id="player" controls autoplay src=""></audio>
<script type="text/javascript">
    jQuery(document).ready(function () {
        console.log('start');

        const file = jQuery('#file');
        const player = jQuery('#player');

        file.on('change', function(e){
            const f = file.val();
            if (f) {
                const url = 'play' + '?name=' + f;
                player[0].src = url;
                console.log(url);
            }
        });
    });
</script>
</body>
</html>